.breadcrum {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 600;
    margin: 15px 5%;
    text-transform: capitalize;
}

.breadcrum img {
    height: 10px;
}

/* Tablet screen responsiveness */
@media (min-width: 768px) {
    .breadcrum {
        font-size: 15px;
        margin: 30px 8%;
    }
    .breadcrum img {
        height: 12px;
    }
}

/* Desktop screen responsiveness */
@media (min-width: 1024px) {
    .breadcrum {
        font-size: 16px;
        margin: 40px 170px;
    }
    .breadcrum img {
        height: 14px;
    }
}