.cart {
  margin: 40px 50px;
}

.cart-page-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #171717;
  letter-spacing: 0.5px;
}

.cart-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 15px 0px;
  color: #454545;
  font-size: 16px;
  font-weight: 600;
}

.cart-format {
  font-size: 15px;
  font-weight: 500;
  color: #171717;
}

.cart-icon-product-icon {
  height: 60px;
  width: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-remove-icon {
  cursor: pointer;
  width: 18px;
}

.cart hr {
  height: 1px;
  background: #e2e2e2;
  border: none;
}

.cart-quantity {
  width: 40px;
  height: 35px;
  border: 1px solid #ebebeb;
  background: #fff;
  font-size: 15px;
  font-weight: 600;
}

.cart-down {
  display: flex;
  margin-top: 80px;
  gap: 100px;
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}

.cart-total button {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  background: #171717;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.cart-total button:hover {
  background: #ff4141;
}

.cart-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}

.cart-promocode p {
  color: #555;
}

.cart-promobox {
  width: 100%;
  max-width: 600px;
  margin-top: 15px;
  padding-left: 20px;
  background: #eaeaea;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  box-sizing: border-box;
}

.cart-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  width: 100%;
  height: 50px;
}

.cart-promobox button {
  width: 150px;
  height: 50px;
  background: #171717;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
}

/* Responsive for Cart */
@media(max-width: 900px) {
  .cart {
    margin: 20px 20px;
  }
  .cart-down {
    flex-direction: column;
    gap: 50px;
    margin-top: 40px;
  }
  .cart-format-main {
    font-size: 14px;
    gap: 10px;
  }
}