.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  padding: 30px 15px 20px 15px; 
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-logo img {
  width: 36px; 
}

.footer-logo p {
  color: #383838;
  font-size: 22px;
  font-weight: 700;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 15px; 
  color: #252525;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.footer-links li {
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-links li:hover {
  color: #ff4141;
}

.footer-social-icon {
  display: flex;
  gap: 15px;
}

.footer-icons-container {
  padding: 8px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons-container img {
  width: 20px; 
  height: 20px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  color: #1a1a1a;
  font-size: 13px;
  text-align: center;
}

.footer-copyright hr {
  width: 90%;
  border: none;
  border-radius: 10px;
  height: 1.5px;
  background: #c7c7c7;
  margin: 0;
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 0px 20px 0px;
  }

  .footer-logo img {
    width: 42px; 
  }

  .footer-logo p {
    font-size: 26px;
  }

  .footer-links {
    gap: 30px;
    font-size: 15px;
  }

  .footer-copyright {
    font-size: 14px;
  }

  .footer-copyright hr {
    width: 80%;
  }
}